#span-sign {
    font-size: 15px;
}

#search {
    display: flex;
}

#search-text {
    margin-right: 10px;
}

#btn-editar {
    margin-right: 40px;
}

#btnDelete {
    text-align: center;
    display: flex;
}

.modal-body {
    background-color: powderblue;
}
